{% if menu %}
	<ul class="level-{{ level }}">
		{% for item in menu %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% include "partial/header/menu.twig" with {'menu': item.get_children, 'level': level + 1} %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
